/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input , button , i{
    outline: none;
    border: none;
    border-radius: 5px;
}

.search-section{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-section .search-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.search-section .content{
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 2;
}
.search-section .content .title{
    font-size: 2.65rem;
    font-weight: 600;
}
.search-section .content .text{
    font-size: 1.5rem;
    margin-top: 8px;
}

.search-section .content .search-box{
    height: 55px;
    margin: 45px 0;
    position: relative;
}
.search-section .content .search-box input{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding-left: 55px;
}
.search-section .content .search-box i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: #8d8d8d;
}


.gallery-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-section .image-container{
    gap: 15px;
    max-width: 95%;
    margin-top: 40px;
    columns: 5 340px;
}

.gallery-section .image-container .img-card{
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.gallery-section .image-container .img-card img{
    width: 100%;
}

.gallery-section .image-container .img-card .details{
    position: absolute;
    bottom: -100px;
    transition: 0.2s ease;
    background: linear-gradient(to top , rgba(0,0,0,0.7) , transparent);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;

}
.gallery-section .img-card:hover .details{
    bottom: 0;
}
.gallery-section .img-card .details .photoGrapher{
    color: #fff;
    display: flex;
    align-items: center;
}
.gallery-section .details .photoGrapher i{
    font-size: 1.4rem;
    margin-right: 10px;
}
.gallery-section .details .photoGrapher span{
    font-size: 1.05rem;
}

.gallery-section .img-card .details .dl-btn{
    cursor: pointer;
    padding: 3px 8px;
    font-size: 1.1rem;
    background: #fff;
}


.gallery-section .more-img-btn{
    margin: 50px 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 12px 27px;
    background: #8a6cff;
}
.gallery-section .more-img-btn.disabled{
    opacity: 0.6;
    pointer-events: none;
}

.lightBox{
    position: fixed;
    display: none;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
}
.lightBox.show{
    display: block;
}
.lightBox .wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    padding: 20px;
    max-width: 850px;
    background: #fff;
    border-radius: 5px;
}
.lightBox .wrapper .preview-img{
    display: flex;
    margin-top: 25px;
    justify-content: center;
}
.lightBox .wrapper .preview-img .img{
    max-height: 65vh;
    max-width: 90vw;
}
.lightBox .wrapper .preview-img .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lightBox .wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lightBox .wrapper header .photoGrapher{
    display: flex;
    align-items: center;
    color: #333;
}
.lightBox .wrapper header .photoGrapher i{
    font-size: 1.7rem;
    margin-right: 10px;
}
.lightBox .wrapper header .photoGrapher span{
    font-size: 1.2rem;
}

.lightBox .wrapper header .btns i{
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background: #8a6cff;
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
}
.lightBox .wrapper header .btns i:last-child{
    margin-left: 10px;
    background: #6c757d;
}



@media screen and (max-width: 680px){
    .search-section{
        padding: 0 10px;
    }
    .search-section .content .title {
        font-size: 1.65rem;
        padding-top: 50px;
    }
    .search-section .content .text {
        font-size: 0.9rem;
    }
}